[submodule "gn_loss_analytical/gn_align/dependencies/SuperGluePretrainedNetwork"]
	path = gn_loss_analytical/gn_align/dependencies/SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork
